@using EpamFinalProject.Models
@model EpamFinalProject.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
    AccountInfo account = (AccountInfo)ViewBag.User;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<aside class="aside-menu">

    <div>

        @Ajax.ActionLink("Edit Profile", "EditProfile", new { id = "startaction" },new AjaxOptions { UpdateTargetId = "profile" })


    </div>
    <div>
        @if (Model.HasPassword)
        {
            @Ajax.ActionLink("Change Password", "ChangePassword", new AjaxOptions { UpdateTargetId = "profile" })
        }
        else
        {
            @Ajax.ActionLink("Create Password", "SetPassword", new AjaxOptions { UpdateTargetId = "profile" })
        }

    </div>
    <div>
        @Ajax.ActionLink("My Requests", "MyRequests", new AjaxOptions { UpdateTargetId = "profile" })
    </div>
    <div>
        @Ajax.ActionLink("Waiting for payment", "ForPayment", new AjaxOptions { UpdateTargetId = "profile" })
    </div>
    <div>
        @Ajax.ActionLink("My Bookings", "Bookings", new AjaxOptions { UpdateTargetId = "profile" })
    </div>


</aside>
<div id="profile">
    
</div>
<script>
    $("#startaction").click();
</script>