@model List<MyBll.Models.ApartmentView>
@foreach (var t in Model)
{
<div class="col-lg-3 div-ap a@(t.NotAppliable)">
    <img src=@Url.Content(t.Href) class="img-ap" />
    <p><strong>@t.Name</strong></p>
    <p><strong>@t.Class</strong></p>
    <p><strong>Max num of people - @t.AmountOfPeople</strong></p>
    <p>Price per night: $@t.PricePerNight</p>
    <ul>
        @foreach (var h in t.Description)
        {
            <li>@h</li>
        }
    </ul>
    @if (User.IsInRole("Admin"))
    {
        using (Html.BeginForm("Edit", "Apartments", FormMethod.Post))
        {
            <button type="submit" name="ToEdit" value="@t.ApartmentId">Edit</button>
        }


    }
    @using (Html.BeginForm("Book", "Apartments", FormMethod.Post))
    {
        <button type="submit" name="ToBook" value="@t.ApartmentId">See More</button>
    }
</div>
}
