
@{
    
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="carouselExampleIndicators" class="carousel slide carou" data-ride="carousel">
    <ol class="carousel-indicators ols">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item item active">
            <img class="d-block w-100" src="~/Content/Photos/main1.jpg" alt="First slide">
        </div>
        <div class="carousel-item item">
            <img class="d-block w-100" src="~/Content/Photos/main2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item item">
            <img class="d-block w-100" src="~/Content/Photos/main4.jpg" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="book-form">
    @using (Ajax.BeginForm("StartForm", "Home", new AjaxOptions { UpdateTargetId = "comirm-main" }))
    {
        @Html.Label("Check in:");
        @Html.Label("Check out:");
        <br />
        <div class="form-group">
            <input id="date1" type="text" class="dates" onkeydown="return false" name="DateIn" required/>
            <input id="date2" type="text" class="dates" onkeydown="return false" name="DateOut" required/>
            <!--<input id="date1"  type="date" class="form-control dates" onkeydown="return false">
            <input id="date2"  type="date" class="form-control dates" onkeydown="return false">-->
        </div>
        <div class="form-group">
            @Html.Label("Apartment class:")
            <select name="Class" id="company" class="form-control">
                <option>Standard</option>
                <option>Junior Suite</option>
                <option>Lux</option>
                <option>Econom</option>
            </select>
        </div>
        <div class="form-group">
            @Html.Label("Number of people:")
            <input name="People" type="number" value="1" min="1" max="10" />

        </div>
        <button type="submit" class="send-main">Apply</button>

    }
</div>
<div class="services">

</div>
<div id="comirm-main"></div>
<hr />
<div class="main-book">
    <div class="tobook-photo">

    </div>
    <div class="tobook-text">
        <p class="info-tobook">Unprecedented suites. Unrivaled art. Uncompromising service.</p>
        <p class="info-tobook"> Choose the apartment</p>
        <br />
        @Html.ActionLink("Start Booking", "About", "Home")
    </div>
</div>
<script>

    $("#date1").datepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        minDate: new Date(),
        maxDate: '+2y',
        onSelect: function (date) {

            var selectedDate = new Date(date);
            var msecsInADay = 86400000;
            var endDate = new Date(selectedDate.getTime() + msecsInADay);

            //Set Minimum Date of EndDatePicker After Selected Date of StartDatePicker
            $("#date2").datepicker("option", "minDate", endDate);
            $("#date2").datepicker("option", "maxDate", '+2y');

        }
    });
    $("#date2").datepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true
    });
</script>